---
layout: base
---

{% include header.html type="page" %}
<div class="container" align="center">
  <h4>Confira abaixo alguns dos projetos que já participei :)</h4>
  <h4>Caso queira conferir as noticias sobre os projetos basta ir em
    <a href="/sobremim" target="_blank"><i class="fa fa-external-link"></i>sobre mim</a> 
  </h4>
</div>
<hr>
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="/img/projects/logo_somar.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Somar</a>
          </h4>
          <div class="blog-tags">
            Stack:
            <a href="/tags#RubyOnRails">Ruby on Rails</a>
            <a href="/tags#Bulma">Bulma</a>
            <a href="/tags#Mysql">Mysql</a>
          </div>
          <p class="card-text">Sistema de <strong>monitoramento</strong> do Planejamento Estratégico do <strong>Governo do Estado de Rondônia</strong> 2019-2023</p>
        </div>
        <div class="card-footer">
          <button type = "button" class = "btn btn-primary btn-lg btn-block" data-toggle = "modal" data-target="#detail_somar">
            <strong><i class="fa fa-laptop"></i> DETALHES</strong>
          </button>
          <div class = "modal fade" id = "detail_somar" role = "dialog">
              <div class = "modal-dialog modal-lg">
                <div class = "modal-content">
                    <div class = "modal-header">      
                      <button type = "button" class="close" data-dismiss = "modal">×</button>
                      <h4 class = "modal-title">Somar</h4><br>
                      <div id="somarCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#somarCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#somarCarousel" data-slide-to="1"></li>
                          <li data-target="#somarCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="/img/projects/home_somar.png" alt="Tela somar">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela1_somar.png" alt="Tela somar">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela2_somar.png" alt="Tela somar">
                          </div>
                        </div>
                        <a class="left carousel-control" href="#somarCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#somarCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Próximo</span>
                        </a>
                      </div>
                    </div>
                    <div class = "modal-body">
                      <i>As informações contidas nas imagens são apenas com dados de testes.</i><br><br>
                      <strong>
                        Confira em:
                        <a href="http://somar.ro.gov.br" target="_blank">somar.ro.gov.br <i class="fa fa-external-link"></i></a>
                      </strong>
                      <p>
                        O sistema <strong>Somar</strong> é responsável por realizar o <strong>monitoramento</strong>  
                        do <strong>Plano Estratégico do Governo do Estado de Rondônia</strong>  oferecer aos <strong>gestores das unidades</strong>,
                        monitoramento também dos seus respectivos <strong>projetos</strong> através de acompanhamento diário e semanal, 
                        garantido assim ao gestor o resultado concreto para a conclusão do seu projeto.
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class = "btn btn-danger" data-dismiss = "modal">SAIR</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="/img/projects/logo_sgpp.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">SGPP</a>
          </h4>
          <div class="blog-tags">
            Stack:
            <a href="/tags#FrontEnd">Front-End</a>
            <a href="/tags#BackEnd">Back-End</a>
            <a href="/tags#AngularJs">AngularJS</a>
            <a href="/tags#API">API</a>
            <a href="/tags#RubyOnRails">RubyOnRails</a>
            <a href="/tags#MySql">MySql</a>
          </div>
          <p class="card-text">Sistema de Gerenciamento do Plano Estratégico do <strong>Governo do Estado de Rondônia</strong>. 2019 -2023</p>
        </div>
        <div class="card-footer">
          <button type = "button" class = "btn btn-primary btn-lg btn-block" data-toggle = "modal" data-target="#detail_sgpp">
            <strong><i class="fa fa-laptop"></i> DETALHES</strong>
          </button>
          <div class = "modal fade" id = "detail_sgpp" role = "dialog">
              <div class = "modal-dialog modal-lg">
                <div class = "modal-content">
                    <div class = "modal-header">      
                      <button type = "button" class="close" data-dismiss = "modal">×</button>
                      <h4 class = "modal-title">Sistema de Gerenciamento de Programas e Projetos - SGPP</h4><br>
                      <div id="sgppCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#sgppCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#sgppCarousel" data-slide-to="1"></li>
                          <li data-target="#sgppCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="/img/projects/tela1_sgpp.png" alt="Tela SGPP">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela1_sgpp.png" alt="Tela SGPP">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela2_sgpp.png" alt="Tela SGPP">
                          </div>
                        </div>
                        <a class="left carousel-control" href="#sgppCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#sgppCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Próximo</span>
                        </a>
                      </div>
                    </div>
                    <div class = "modal-body">
                      <i>As informações contidas nas imagens são apenas com dados de testes.</i><br><br>
                      <strong>
                        Acesse em:
                        <a href="http://sgpp.sistemas.ro.gov.br" target="_blank">
                          SGPP
                          <i class="fa fa-external-link"></i>
                        </a>
                      </strong>
                      <p>
                        Projeto responsável pelo <strong>Gerenciamento do Planejamento Estratégico do Governo do Estado de Rondônia</strong>,
                        bem como os projetos desenvolvidos pelas Unidades Administrativas(secretarias). Nesse projeto, que já tinha sido desenvolvida pela EPR - DETIC, coube 
                        a mim a responsabilidade de dar continuidade e <strong>gerenciar a equipe de desenvolvimento da Casa Civil</strong>, personalizando assim 
                        a aplicação para a atual gestão do Governo de Rondônia 2019-2023
                      </p>
                    </div>
                    <div class = "modal-footer">
                      <button type = "button" class = "btn btn-danger" data-dismiss = "modal">SAIR</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="/img/projects/logo_erp_sugesp.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">ERP - Sugesp</a>
          </h4>
          <div class="blog-tags">
            Stack:
            <a href="/tags#BackEnd">Back-End</a>
            <a href="/tags#RubyOnRails">Ruby On Rails</a>
            <a href="/tags#Mysql">Mysql</a>
          </div>
          <p class="card-text">
            É um  sistema de <strong>gestão integrado</strong> para gerenciar demonstrativo de <strong>pagamento de diárias, passagens e combustível</strong>, 
            referente a todas as atividades relacionadas ao Governo de Rondônia.</p>
        </div>
        <div class="card-footer">
          <button type = "button" class = "btn btn-primary btn-lg btn-block" data-toggle = "modal" data-target="#detail_erp_sugesp">
            <strong><i class="fa fa-laptop"></i> DETALHES</strong>
          </button>
          <div class = "modal fade" id = "detail_erp_sugesp" role = "dialog">
              <div class = "modal-dialog modal-lg">
                <div class = "modal-content">
                    <div class = "modal-header">      
                      <button type = "button" class="close" data-dismiss = "modal">×</button>
                      <h4 class = "modal-title">ERP - Sugesp</h4><br>
                      <div id="erpSugespCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#erpSugespCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#erpSugespCarousel" data-slide-to="1"></li>
                          <li data-target="#erpSugespCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="/img/projects/tela1_erp_sugesp.png" alt="Tela Erp Sugesp">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela2_erp_sugesp.png" alt="Tela Erp Sugesp">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela3_erp_sugesp.png" alt="Tela Erp Sugesp">
                          </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#erpSugespCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#erpSugespCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Próximo</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-body">
                      <i>As informações contidas nas imagens são apenas com dados de testes.</i><br><br>
                      <strong>
                        Acesse em:
                        <a href="http://erp.sugesp.ro.gov.br" target="_blank">
                          ERP - Sugesp
                          <i class="fa fa-external-link"></i>
                        </a>
                      </strong>
                      <p>
                        Com base das informações do sistema Frota, o objetivo principal do ERP - Sugesp é oferecer ao <strong>gestor</strong> 
                        uma <strong>ferramenta BI</strong>, dando o controle total dos gastos com combustível e passagens,
                        e diárias de passageiros. Através de <strong>gráficos e comparativos</strong> anuais e mensais, promovendo ao responsável 
                        identificar qual unidade administrativa tem <strong>ultrapassado o gasto estipulado</strong>, bem como os passageiros envolvidos. 
                        Além de compreender <strong>outros módulos da secretária SUGESP</strong>, tais como: Controle de protocolo(documentos), 
                        CAP - Controle de acesso a pessoas ao Palacio do Madeira.
                      </p>
                    </div>
                    <div class = "modal-footer">
                      <button type = "button" class = "btn btn-danger" data-dismiss = "modal">SAIR</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="/img/projects/logo_gestor.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Kinyx ERP | GESTOR</a>
          </h4>
          <div class="blog-tags">
            Stack:
            <a href="/tags#UX">UX</a>
            <a href="/tags#Teste">Teste</a>
            <a href="/tags#Analise">Análise</a>
          </div>
          <p class="card-text"><strong>Sistema na area comercial</strong>, voltado para a gestão de estoque, logistica, fiscal, financeiro e relatórios</p>
        </div>
        <div class="card-footer">
          <button type = "button" class = "btn btn-primary btn-lg btn-block" data-toggle = "modal" data-target="#detail_kinyx_gestor">
            <strong><i class="fa fa-laptop"></i> DETALHES</strong>
          </button>
          <div class = "modal fade" id = "detail_kinyx_gestor" role = "dialog">
              <div class = "modal-dialog modal-lg">
                <div class = "modal-content">
                    <div class = "modal-header">      
                      <button type = "button" class="close" data-dismiss = "modal">×</button>
                      <h4 class = "modal-title">Kinyx ERP | GESTOR</h4><br>
                      <div id="kinyxGestorCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#kinyxGestorCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#kinyxGestorCarousel" data-slide-to="1"></li>
                          <li data-target="#kinyxGestorCarousel" data-slide-to="2"></li>
                          <li data-target="#kinyxGestorCarousel" data-slide-to="3"></li>
                          <li data-target="#kinyxGestorCarousel" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="/img/projects/tela1_kinyx.png" alt="Tela Erp Sugesp">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela2_kinyx.png" alt="Tela Erp Sugesp">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela3_kinyx.png" alt="Tela Erp Sugesp">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela4_kinyx.png" alt="Tela Erp Sugesp">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela5_kinyx.png" alt="Tela Erp Sugesp">
                          </div>
                        </div>
                        <a class="left carousel-control" href="#kinyxGestorCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#kinyxGestorCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Próximo</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-body">
                      <i>As informações contidas nas imagens são apenas com dados de testes.</i><br><br>
                      <strong>
                        Acesse em:
                        <a href="http://kinyx.com.br/KinyxERP.html" target="_blank">
                          Kinyx Gestor
                          <i class="fa fa-external-link"></i>
                        </a>
                      </strong>
                      <p>
                        Neste projeto fiquei responsável no auxílio da <strong>Análises do sistema</strong>, de cada 
                        módulo e sua <strong>regra de negócio</strong>, bem como o gerenciamento e <strong>Análise de testes e UX(User Experience)</strong>.
                        Além de oferecer o <strong>suporte remoto e presencial</strong> com atividades do sistema e <strong>consultoria empresarial ao negócio</strong>.
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">SAIR</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="/img/projects/logo_nuble.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Nuble</a>
          </h4>
          <div class="blog-tags">
            Stack:
            <a href="/tags#Api">API</a>
            <a href="/tags#BackEnd">Back-End</a>
            <a href="/tags#RubyOnRails">Ruby On Rails</a>
            <a href="/tags#Mysql">Mysql</a>
          </div>
          <p class="card-text">
            Um sistema totalmente voltado para atender a realidade da <strong>classe contábil</strong>. Buscando a melhor solução no <strong>gerenciamento 
              dos XML's</strong> de seus clientes.
          </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle = "modal" data-target="#detail_nuble">
            <strong><i class="fa fa-laptop"></i> DETALHES</strong>
          </button>
          <div class = "modal fade" id = "detail_nuble" role = "dialog">
              <div class = "modal-dialog modal-lg">
                <div class = "modal-content">
                    <div class = "modal-header">      
                      <button type = "button" class="close" data-dismiss = "modal">×</button>
                      <h4 class = "modal-title">Nuble</h4><br>
                      <div id="nubleCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#nubleCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#nubleCarousel" data-slide-to="1"></li>
                          <li data-target="#nubleCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="/img/projects/tela1_nuble.png" alt="Tela Erp Sugesp">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela2_nuble.png" alt="Tela Erp Sugesp">
                          </div>
                        </div>
                        <a class="left carousel-control" href="#nubleCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#nubleCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Próximo</span>
                        </a>
                      </div>
                    </div>
                    <div class = "modal-body">
                      <i>As informações contidas nas imagens são apenas com dados de testes.</i><br><br>
                      <strong>
                        Acesse em:
                        <a href="http://nuble.com.br" target="_blank">
                          Nuble
                          <i class="fa fa-external-link"></i>
                        </a>
                      </strong>
                      <p>
                        Na aplicação Nuble, fiquei reponsável pela criação de uma <strong>API</strong> de autorização de <strong>consumo de créditos</strong> e liberação de cliente 
                        para a utilização dos serviços oferecidos, bem como a criação de uma <strong>dashboard</strong> para para a <strong>equipe administrativa</strong> acompanhar esses registros.
                      </p>
                    </div>
                    <div class = "modal-footer">
                      <button type = "button" class = "btn btn-danger" data-dismiss = "modal">SAIR</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="/img/projects/logo_frota.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Frota e ForteGTO</a>
          </h4>
          <div class="blog-tags">
            Stack:
            <a href="/tags#CakePHP">CakePHP</a>
            <a href="/tags#Materialize">Materialize</a>
            <a href="/tags#Mysql">Mysql</a>
          </div>
          <p class="card-text">Sistema de <strong>gestão de veículos oficias</strong> e <strong>solicitações de viagens</strong> do <strong>Governo do Estado de Rondônia</strong></p>
        </div>
        <div class="card-footer">
          <button type = "button" class = "btn btn-primary btn-lg btn-block" data-toggle = "modal" data-target="#detail_frota">
            <strong><i class="fa fa-laptop"></i> DETALHES</strong>
          </button>
          <div class = "modal fade" id = "detail_frota" role = "dialog">
              <div class = "modal-dialog modal-lg">
                <div class = "modal-content">
                    <div class = "modal-header">      
                      <button type = "button" class="close" data-dismiss = "modal">×</button>
                      <h4 class = "modal-title">Frota e ForteGTO</h4><br>
                      <div id="frotaCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#frotaCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#frotaCarousel" data-slide-to="1"></li>
                          <li data-target="#frotaCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="/img/projects/tela1_frota.png" alt="Tela Erp Sugesp">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela2_frota.png" alt="Tela Erp Sugesp">
                          </div>
                        </div>
                        <a class="left carousel-control" href="#frotaCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#frotaCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Próximo</span>
                        </a>
                      </div>
                    </div>
                    <div class = "modal-body">
                      <i>As informações contidas nas imagens são apenas com dados de testes.</i><br><br>
                      <strong>
                        Acesse em:
                        <a href="http://frota.sistemas.ro.gov.br/fortegto" target="_blank">
                          ForteGTO
                          <i class="fa fa-external-link"></i>
                        </a>
                      </strong>
                      <p>
                       Neste projeto fiquei responsável em dar continuidade no desenvolvimento da aplicação Frota e ForteGTO mantidada pela Sugesp. O objetivo principal do sistema
                       é o <strong>controle das viagens da frota única do Governo</strong>, além de controlar todas as <strong>solicitações de viagens</strong> realizadas pelas <strong>unidades administrativas</strong>.
                      </p>
                    </div>
                    <div class = "modal-footer">
                      <button type = "button" class = "btn btn-danger" data-dismiss = "modal">SAIR</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="/img/projects/logo_superbusiness.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">SuperBusiness</a>
          </h4>
          <div class="blog-tags">
            Stack:
            <a href="/tags#AnaliseTeste">Análise de teste</a>
            <a href="/tags#UX">User experience</a>
          </div>
          <p class="card-text">Sistema de <strong>gestão</strong> na área <strong>comercial</strong> do pequeno ao grande, bem como todo os módulos fiscais necessário para o funcionamento de uma empresa.</p>
        </div>
        <div class="card-footer">
          <button type = "button" class = "btn btn-primary btn-lg btn-block" data-toggle = "modal" data-target="#detail_superbusiness">
            <strong><i class="fa fa-laptop"></i> DETALHES</strong>
          </button>
          <div class = "modal fade" id = "detail_superbusiness" role = "dialog">
              <div class = "modal-dialog modal-lg">
                <div class = "modal-content">
                    <div class = "modal-header">      
                      <button type = "button" class="close" data-dismiss = "modal">×</button>
                      <h4 class = "modal-title">SuperBusiness</h4><br>
                      <div id="superBusinessCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#superBusinessCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#superBusinessCarousel" data-slide-to="1"></li>
                          <li data-target="#superBusinessCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="/img/projects/tela1_superbusiness.png" alt="Tela SuperBusiness">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela2_superbusiness.png" alt="Tela SuperBusiness">
                          </div>
                        </div>
                        <a class="left carousel-control" href="#superBusinessCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#superBusinessCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Próximo</span>
                        </a>
                      </div>
                    </div>
                    <div class = "modal-body">
                      <i>As informações contidas nas imagens são apenas com dados de testes.</i><br><br>
                      <strong>
                        Acesse em:
                        <a href="https://www.facebook.com/SuperSys" target="_blank">
                          Supersys Tecnologia
                          <i class="fa fa-external-link"></i>
                        </a>
                      </strong>
                      <p>
                        Neste sistema iniciei como integrante do <strong>suporte chat</strong>, logo mais passei para <strong>suporte-presencial</strong> e consequentemente fiquei responsável pela Homologação do sistema.
                        A aplicação SuperBusiness me trouxe a experiência em <strong>Análise de Teste e UX(User experience)</strong>, ou seja, ideias e conceitos que facilitem ainda mais a <strong>utilização do usuário</strong> 
                        de forma simples e segura. Além de um vasto conhecimento na area empresarial como todo em diferentes segmentos e seus aspectos contábeis e fiscais.
                      </p>
                    </div>
                    <div class = "modal-footer">
                      <button type = "button" class = "btn btn-danger" data-dismiss = "modal">SAIR</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="/img/projects/logo_superbusiness.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">SuperPDV</a>
          </h4>
          <div class="blog-tags">
            Stack:
            <a href="/tags#AnaliseTeste">Analise de teste</a>
            <a href="/tags#Bulma">User Experience</a>
          </div>
          <p class="card-text">Sistema de <strong>PDV para frente de loja</strong>, desenvolvido para empresas que necessitam realizar a venda de maneira simples e rápida e que atendam as <strong>necessidades fiscais</strong>.</p>
        </div>
        <div class="card-footer">
          <button type = "button" class = "btn btn-primary btn-lg btn-block" data-toggle = "modal" data-target="#detail_superpdv">
            <strong><i class="fa fa-laptop"></i> DETALHES</strong>
          </button>
          <div class = "modal fade" id = "detail_superpdv" role = "dialog">
              <div class = "modal-dialog modal-lg">
                <div class = "modal-content">
                    <div class = "modal-header">      
                      <button type = "button" class="close" data-dismiss = "modal">×</button>
                      <h4 class = "modal-title">SuperPDV</h4><br>
                      <div id="superPdv" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#superPdv" data-slide-to="0" class="active"></li>
                          <li data-target="#superPdv" data-slide-to="1"></li>
                          <li data-target="#superPdv" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="/img/projects/tela1_superpdv.png" alt="Tela SuperPDV">
                          </div>
                          <div class="item">
                            <img src="/img/projects/tela2_superpdv.png" alt="Tela SuperPDV">
                          </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#superPdv" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#superPdv" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Próximo</span>
                        </a>
                      </div>
                    </div>
                    <div class = "modal-body">
                      <i>As informações contidas nas imagens são apenas com dados de testes.</i><br><br>
                      <strong>
                        Acesse em:
                        <a href="https://www.facebook.com/SuperSys" target="_blank">
                          Supersys Tecnologia
                          <i class="fa fa-external-link"></i>
                        </a>
                      </strong>
                      <p>
                        No projeto SuperPDV, pude participar como responsável pela <strong>Análise do Sistema e Testes</strong> de todas as suas funcionalidades, bem como dar todo 
                        o <strong>suporte</strong> necessário as equipes para a sua <strong>implantação e treinamento</strong>. Além de aprender muito com esse segmento de frente de loja pude praticar diferentes conceitos de <strong>UX(User experience)</strong> 
                        para deixar de uma forma ágil para o usuário final do produto.
                      </p>
                    </div>
                    <div class = "modal-footer">
                      <button type = "button" class = "btn btn-danger" data-dismiss = "modal">SAIR</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>